:root {
    --blanco: #ffffff;
    --purpura-oscuro: #2A083D;
    --negro-puro: #0A0010;
    --rosa-palido: #DBC6E7;
    --amarillo-pastel: #F9E792;
    --marron-oscuro: #6B602B;
    --verde-amarillo: #7A9F35;
    --amarillo-fuerte: #ffd336f3;
    --purpura: #12041b;
    --fuente-principal: 'Kanit', sans-serif;
    --fuente-secundaria: 'Raleway', sans-serif;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *::after {
    box-sizing: inherit;
}
/*globals*/
body {
    background-color: var(--negro-puro);
    font-size: 1.6rem;
    line-height: 1.5;
}
p {
    font-size: 1.8rem;
    font-family: var(--fuente-secundaria);
    color: var(--blanco);
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
h1, h2, h3 {
    text-align: center;
    color: var(--rosa-palido);
    font-family: var(--fuente-principal);
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
    font-weight: 400;
}
.container {
    max-width: 100rem;
    margin: 0 auto;
}
/*CSS using BEM*/
/* Header */
.header {
    display: flex;
    justify-content: center;
}
.header__logo {
    margin: 3rem 0;
}
/* navigation */
.nav {
    background-color: var(--purpura-oscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    /*gap: 2rem; forma nueva para separar*/
}
.nav__link {
    margin-right: 2rem;
    font-family: var(--fuente-secundaria);
    color: var(--blanco);
    text-transform: uppercase;
    font-weight: 700;
    opacity: .5;
}
.nav__link:last-of-type {
    margin-right: 0;
}
.nav__link:hover,
.nav__link--active {
    opacity: 1;
    border-bottom: 0.1rem solid var(--blanco);
}
/*main*/
.container {
    background-color: var(--negro-puro);
}
.container__title {
    text-transform: capitalize;
}
.container__title--color {
    color: var(--purpura-oscuro);
    text-shadow: .1rem 0 0 var(--amarillo-fuerte),
    0 .1rem 0 var(--amarillo-fuerte),
    -.1rem 0 0 var(--amarillo-fuerte),
    0 -.1rem 0 var(--amarillo-fuerte);
}
/*shirt*/
.shirt {
    margin: 0 2rem;
}
.shirt__image {
    border-radius: 1.5rem;
}
@media (min-width: 768px) {
    .shirt {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 2rem; 
        align-items: center;
    }
}
/*form*/
.form {
    display: grid;
    gap: 1rem;
}
@media (min-width: 768px) {
    .form {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }
    .form__field:nth-child(3) {
        grid-column:1/3;
    }
}
.form__field {
    border: .4rem solid var(--purpura-oscuro);
    font-size: 1.8rem;
    border-radius: 1rem;
    padding: 1rem;
    appearance: none;
    font-family: var(--fuente-principal);
    font-weight: lighter;
}
.form__submit {
    background-color:var(--rosa-palido);
    border: none;
    padding: 1.5rem;
    font-size: 2rem;
    font-family: var(--fuente-principal);
    text-transform: uppercase;
    opacity: .6;
    color: var(--blanco);
    transition: .2s ease;
}
.form__submit:hover {
    cursor: pointer;
    opacity: 1;
    box-shadow: 0 0 1rem var(--blanco);
    color: var(--purpura);
}
.form__submit--color {
    background-color: transparent;
    border: 0.2rem solid var(--rosa-palido);
    padding: 1.5rem;
    font-size: 2rem;
    font-family: var(--fuente-principal);
    text-transform: uppercase;
    opacity: .6;
    color: var(--rosa-palido);
    transition: .2s ease;
}
.form__submit--color:hover {
    cursor: pointer;
    opacity: 1;
    box-shadow: 0 0 1rem var(--blanco);
}
/* footer */
.footer{
    background-color: var(--rosa-palido);
    margin-top: 2rem;
    padding: .5rem;
}
.footer__text{
    text-transform: capitalize;
    text-align: center;
    font-family: var(--fuente-principal);
    font-size: 2rem;
    font-weight: lighter;
    color: var(--purpura-oscuro);
}
.footer__text span{
    text-transform: uppercase;
    color: var(--purpura-oscuro);
    font-weight: bold;
    opacity: .5;
}