@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario {
    display: flex;
    flex-direction: column;
    &__fieldset {
        border: none;
        margin-top: 1rem;
        padding: 0;
    }
    &__legend {
        color: v.$gris;
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }
    &__campo {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 1.5rem 0;
    }
    &__contenedor-icono {
        display: flex;
        border-radius: .5rem;
        overflow: hidden;
    }
    &__icono {
        background-color: v.$gris-oscuro;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            color: v.$blanco;
            font-size: 2rem;
        }
    }
    &__label {
        display: block;
        font-size: 1.8rem;
        color: rgba(v.$negro,.8);
    }
    &__input,
    &__select {
        padding: 1rem;
        border: .1rem solid darken(v.$gris-claro,20);
        border-radius: .5rem;

        &--file {
            border: none;
        }
        &--sociales {
            @extend .formulario__input;
            flex: 1; 
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    &__radio {
        display: flex;
        div {
            margin-right: 1rem;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
    &__texto {
        margin-top: 3rem;
    }
    &__imagen {
        max-width: 20rem;
    }
    &__listado {
        @include m.tags;
    }
    &__submit {
        @include m.boton(v.$azul,v.$blanco);
        width: auto;
        align-self: flex-start;

        &--registrar {
            width: 100%;
        }
        &--full {
            width: 100%;
        }
    }
}