.footer {
    padding: $separacion / 2 0;
    background-color: $grisOscuro;
    margin-bottom: 0;

    .footer-content {
        padding-top: $separacion / 2;
    }
    .copyright {
        color: $blanco;
        text-align: center;
    }
}