.bar {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    align-items: center;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }
}
.nav {
    display: none;

    @include tablet {
        display: flex;
        align-items: center;
    }
    a {
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;
        text-transform: capitalize;

        &:hover {
            color: $amarillo;
        }

        @include tablet {
            margin-right: 2rem;
            font-size: 1.8rem;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}
/*Menú de hamburguesa*/
.mobile-menu {
    @include tablet {
        display: none;
    }

    img {
        width: 5rem;
    }
}
.show-nav {
    display: block;
}