.bar {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    align-items: center;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
}
.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        align-items: flex-end;
    }
    .btn-dark-mode {
        width: 3.5rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        filter: invert(100%);

        &:hover {
            cursor: pointer;
            filter: invert(60%);
        }

        @include tablet {
            margin-top: 0;
        }
    }
}
.nav {
    transform: translateY(-300%);
    opacity: 0;
    height: 0;

    @include tablet {
        display: flex;
        align-items: center;
        opacity: 1;
        transform: translateY(0%);
    }
    a {
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;
        text-transform: capitalize;

        &:hover {
            color: $amarillo;
        }

        @include tablet {
            margin-right: 2rem;
            font-size: 1.8rem;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}
/*Menú de hamburguesa*/
.mobile-menu {
    @include tablet {
        display: none;
    }

    img {
        width: 5rem;
    }
}
.show-nav {
    transform: translateY(0%);
    opacity: 1;
    height: auto;
    transition: transform .2s ease, opacity .8s linear, height .5s linear;
}