@use 'base/variables' as v;

.citas {
    list-style: none;
    padding: 0;

    li {
        padding: 2rem;
        border-top: .1rem solid v.$blanco;

        p {
            font-weight: v.$bold;
            color: v.$azul;

        }
        span {
            font-weight: v.$regular;
            color: v.$blanco;
        }
        &:hover {
            background-color: darken(v.$azul, 35);
            cursor: pointer;
            transition: background-color .3s ease;
        }
    }
    .servicio {
        padding: 0;
        font-weight: v.$regular;
        color: v.$blanco;
        span {
            color: v.$azul;
        }
    }
}