@use 'base/variables' as v;
@use 'base/mixins' as m;

.menu-redes {
    @include m.menu-social(v.$blanco,2rem);
    display: flex;
    justify-content: center;
    margin: 4rem 0;
    a {
        margin-right: 2rem;
        &:last-of-type {
            margin-right: 0;
        }
    }

    @include m.tablet {
        justify-content: flex-end;
    }
}