@use 'base/variables' as v;
@use 'base/mixins' as m;

.boletos {
    &__grid {
        @include m.contenedor-sm;
        @include m.grid(1,5rem);
    }
}
.boleto {
    width: min(100% - 5rem, 65rem);
    margin: 0 auto;
    padding: 6rem;
    border-radius: 2rem;
    color: v.$blanco;
    position: relative;

    &::before,
    &::after {
        position: absolute;
        content: '';
        background-color: v.$blanco;
        width: 5rem;
        height: 5rem;
        top: calc(50% - 2.5rem);
    }
    &::before {
        clip-path: circle(50% at 25% 50%);
        left: 0;
    }
    &::after {
        clip-path: circle(50% at 75% 50%);
        right: 0;
    }

    &--presencial {
        background-color:hsla(224,100%,39%,1);
        background-image:
        radial-gradient(at 40% 20%, hsla(178,100%,39%,1) 0px, transparent 50%),
        radial-gradient(at 93% 91%, hsla(193,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 33% 68%, hsla(224,100%,39%,1) 0px, transparent 50%),
        radial-gradient(at 7% 17%, hsla(193,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(178,100%,39%,1) 0px, transparent 50%),
        radial-gradient(at 13% 2%, hsla(224,100%,39%,1) 0px, transparent 50%),
        radial-gradient(at 75% 49%, hsla(178,100%,39%,1) 0px, transparent 50%); 
    }
    &--virtual {
        background-color:hsla(178,100%,39%,1);
        background-image:
        radial-gradient(at 40% 20%, hsla(178,100%,39%,1) 0px, transparent 50%),
        radial-gradient(at 93% 91%, hsla(193,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 33% 68%, hsla(178,100%,39%,1) 0px, transparent 50%),
        radial-gradient(at 7% 17%, hsla(193,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(178,100%,39%,1) 0px, transparent 50%),
        radial-gradient(at 13% 2%, hsla(193,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 75% 49%, hsla(178,100%,39%,1) 0px, transparent 50%);

    }
    &--gratuito {
        background-color:hsla(209,100%,47%,1);
        background-image:
        radial-gradient(at 40% 20%, hsla(209,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 93% 91%, hsla(193,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 33% 68%, hsla(209,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 7% 17%, hsla(193,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(209,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 13% 2%, hsla(193,100%,47%,1) 0px, transparent 50%),
        radial-gradient(at 75% 49%, hsla(209,100%,47%,1) 0px, transparent 50%);
    }   
    &__logo {
        @include m.logo;
        @include m.texto-fluido(2rem,4rem);
    }
    &__plan {
        font-size: 2rem;
        text-transform: uppercase;
        margin: 3rem 0 0 0;
    }
    &__precio {
        margin: 3rem 0 0 0;
        font-weight: v.$black;
        font-size: 4rem;
    }
    &__enlace-contenedor {
        margin-top: 5rem;
        display: flex;
        justify-content: center;
    }
    &__enlace {
        @include m.boton(v.$azul, v.$blanco);
        width: auto;
    }
}