@use 'variables' as var;
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*:before,*:after {
    box-sizing: inherit;
}
body {
    background-color: var.$black;
    color: var.$white;
    font-family: var.$first_font;
    font-size: 1.6rem;
}
p {
    font-size: 2rem;
}
a {
    text-decoration: none;
}
h1,h2,h3 {
    margin: 0 0 5rem 0;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3rem;
}
.container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
