//fonts
$first_font: 'Bruno Ace SC', sans-serif;
$default_font: 'Montserrat', sans-serif;
//colors
$white: #efefef;
$black: #121314;
$red: #9a0018;
$orange: #d56b29;
$purple: #652087;
//media queries
$cellphone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px