@use 'base/variables' as v;
@use 'base/mixins' as m;

.sidebar {
    background-color: v.$azulMorado;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 500ms;

    &.mostrar {
        opacity: 1;
        padding: 2rem;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: darken(v.$morado,20%);
        .sidebar-nav {
            a {
                &:hover,
                &.activo {
                    background-color: darken(v.$morado, 10%);
                    border-radius: .5rem;
    
                }
            }
        }
        @include m.tablet {
            display: none;

        }
    }
    &.ocultar {
        opacity: 0;
    }

    @include m.tablet {
        height: 100%;
        opacity: 1;
        padding: 2rem;
        background-color: v.$azulMorado;
    }
    .contenedor-sidebar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
            color: v.$blanco;
            text-align: center;
            margin: 0;
        }
        .cerrar-menu {
            display: flex;
            justify-content: center;
            height: 5rem;
            width: 5rem;
            img {
                &:hover {
                    cursor: pointer;
                }
            }
            @include m.tablet {
                display: none;
            }
        }
    }
    .sidebar-nav {
        margin-top: 5rem;

        a {
            color: v.$blanco;
            display: block;
            padding: .7rem;
            transition-property: background-color;
            transition-duration: 150ms;
            font-size: 2.4rem;
            margin-bottom: 2rem;
            text-align: center;

            &:hover,
            &.activo {
                background-color: darken(v.$azulMorado, 10%);
                border-radius: .5rem;

            }

            @include m.tablet {
                font-size: 1.8rem;
                margin-bottom: 1.5rem;
                text-align: left;
            }
        }
    }
    .logout-mobile {
        margin-top: 10rem;
        .logout {
            @include m.boton(darken(v.$naranja,10%), v.$blanco);
        }
        @include m.tablet {
            display: none;
        }
    }
}