@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-nueva-tarea {
    display: flex;
    justify-content: center;
    .agregar-tarea {
        @include m.boton(v.$morado, v.$blanco);
    }
}

.listado-tareas {
    list-style: none;
    padding: 0;

    .no-tareas {
        text-align: center;
        margin-top: 4rem;
        font-size: 3rem;
        color: lighten(v.$gris, 20%);
        text-transform: capitalize;
    }

}

.tarea {
    padding: .5rem 2rem;
    border-bottom: .2rem solid darken(v.$grisClaro, 5%);
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:last-of-type {
        border: none;
    }
    p {
        font-size: 1.8rem;
    }
    .opciones {
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 1rem;

        button {
            border: none;
            font-size: 1.2rem;
            padding: .5rem 1rem;
            text-transform: uppercase;
            font-weight: 700;
            border-radius: 1rem;

            &:hover {
                cursor: pointer;
                opacity: .8;
            }
        }
        .completa {
            background-color: v.$azul;
            color: v.$blanco;
        }
        .pendiente {
            background-color: darken(v.$naranja, 5%);
            color: v.$blanco;
        }
        .eliminar-tarea {
            background-color: v.$rojo;
            color: v.$blanco;
        }
    }
}