@use 'base/variables' as var;
@use 'base/mixins' as m;

.webp .lineup {
    background-image: url(../img/concert.webp);
}
.no-webp .lineup {
    background-image: url(../img/concert.jpg);
}
.lineup {
    padding: 5rem 0;
    h3, p {
        text-align: center;
        color: var.$purple_2;
        font-weight: bold;
    }
    .day {
        color: var.$white;
        text-transform: uppercase;
        margin: 5rem 0;
    }
}
.stage-content {
    @include m.tablet {
        @include m.grid(2,5rem);
    }
    p {
        color: var.$white;
    }
}
.stage {
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
    p {
        &:after {
            content: '';
            display: block;
            width: 20rem;
            height: 20rem; 
            background-size: 15rem;
            background-repeat: no-repeat;
            background-position: center center;
            margin: 0 auto;
        }
    }
}
.rock .stage-name:after {
    background-image: url(../img/icono_rock.png);
}
.edm .stage-name:after {
    background-image: url(../img/icono_edm.png);
}
.calendar {
    @include m.resetList;
    li {
        text-align: center;
        padding: 2rem;
        font-weight: 700;
        span {
            font-weight: 400;
        }
    }
}
.bg {
    background-color: rgb(0 0 0 / 0.75);
    li:nth-child(odd) {
        background-color:  rgba(59, 59, 59, .2);
    }
}