@use 'base/variables' as v;
@use 'base/mixins' as m;

.login {
    margin-top: 5rem;

    .uptask {
        background: linear-gradient(to right, v.$cyan 0%, lighten(v.$cyan, 42%) 100%);
        color: transparent;
        background-clip: text;
        font-size: 7rem;
        text-align: center;

        @include m.tablet {
            font-size: 10rem;
        }
    }

    input[type="submit"] {
        @include m.boton(v.$cyan, v.$blanco);
    }
    .acciones {
        a {
            color: v.$cyan;

            &:hover {
                color: lighten(v.$cyan, 20%);
            }
        }
    }
}