@use 'base/variables' as v;
@use 'base/mixins' as m;

.login {
    margin-top: 5rem;

    .uptask {
        @include m.degradado(v.$cyan);
    }

    input[type="submit"] {
        @include m.boton(v.$cyan, v.$blanco);
    }
    .acciones {
        a {
            color: v.$cyan;

            &:hover {
                color: lighten(v.$cyan, 20%);
            }
        }
    }
}