@use 'base/variables' as v;
@use 'base/mixins' as m;

.dashboard {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: v.$gris-claro;

    &__header {
        background-color: v.$gris-oscuro;
        padding: 2rem;
    }
    &__header-grid {
        display: flex;
        flex-direction: column;

        @include m.tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__logo {
        @include m.logo;
        @include m.texto-fluido(2rem, 3rem);
    }
    &__form {
        display: flex;
        justify-content: center;
    }
    &__submit--logout {
        @include m.enlace;
    }
    &__grid {
        display: flex;
        flex: 1;
        overflow-y: auto;
    }
    &__sidebar {
        background-color: lighten(v.$gris-oscuro, 10);
        width: 12rem;
    }
    &__menu {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        
        a {
            margin-bottom: 1rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    &__enlace {
        color: lighten(v.$gris-oscuro,40);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        border-radius: 1rem;
        transition: 300ms background-color ease-in-out,
        300ms color ease;

        &:hover,
        &--actual {
            background-color: lighten(v.$gris-oscuro, 20);
            color: v.$blanco;
        }
    }
    &__icono {
        font-size: 2rem;
    }
    &__menu-texto {
        font-size: 1.1rem;
        text-transform: uppercase;
        font-weight: v.$bold;
        margin-top: .5rem;
    }
    &__contenido {
        padding: 1rem 1rem 3rem 1rem;
        width: 100%;
        overflow: scroll;
        @include m.tablet {
            padding: 1rem 5rem 3rem 5 rem;
        }
    }
    &__contenedor-boton {
        @include m.tablet {
            display: flex;
            justify-content: flex-start;
            margin-bottom: 5rem;
        }
    }
    &__boton {
        @include m.boton(v.$azul,v.$blanco);
        text-transform: uppercase;
        font-size: 1.4rem;
        @include m.tablet {
            width: auto;
        }
    }
    &__contenedor {
        @include m.shadow;
        background-color: v.$blanco;
        padding: 2rem;
        border-radius: 1rem;
    }
    &__formulario {
        @extend .dashboard__contenedor;
        @include m.contenedor-md;
    }
    &__grafica {
        @include m.contenedor-sm;
    }
}