@use 'base/variables' as v;
@use 'base/mixins' as m;

.listado-ponentes {
    @include m.reset-lista;
    @include m.grid(1,1rem);

    &__ponente {
        color: v.$azul;
        border: .1rem solid v.$azul;
        padding: 1rem;
        border-radius: 1rem;
        text-align: center;

        &:hover {
            cursor: pointer;

        }
        &--seleccionado {
            @extend .listado-ponentes__ponente;
            background-color: v.$azul;
            color: v.$blanco;
        }
    }
}