@use 'base/variables' as v;
@use 'base/mixins' as m;

.eventos-registro {
    @include m.contenedor;

    @include m.tablet {
        display: flex;
        align-items: flex-start;

        main {
            margin-right: 2rem;
        }
    }
    &__listado {
        @include m.tablet {
            flex: 0 0 60%;
        }
    }
    &__grid {
        @include m.grid(1,3rem);

        @include m.tablet {
            @include m.grid(2,3rem);
        }
    }
    &__heading {
        &--conferencias {
            color: v.$azul;
            white-space: nowrap;
            @include m.texto-fluido(2rem,5rem);
        }
        &--workshops {
            margin-top: 5rem;
            color: v.$secundario;
            white-space: nowrap;
            @include m.texto-fluido(2rem,5rem);
        }
    }
    &__fecha {
        margin: 6rem 0 3rem 0;
    }
}
.registro-sidebar {
    background-color: v.$gris-claro;
    padding: 3rem;
    border-radius: 1rem;
    @include m.tablet {
        flex: 0 0 40%;
        position: -webkit-sticky;
        position: sticky;
        top: 3rem;
    }
    &__heading {
        margin: 0 0 3rem 0;
    }
    &__evento {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        
        &:nth-child(even) {
            background-color: darken(v.$gris-claro, 3);
        }
    }
    &__nombre {
        font-size: 2rem;
        font-weight: v.$bold;
        margin: 0;
    }
    &__eliminar {
        all: unset;
        color: v.$rojo;
        
        &:hover {
            cursor: pointer;
            color: lighten(v.$rojo, 10);
        }
    }
    &__regalo {
        margin-top: 3rem;
    }
    &__label {
        display: block;
        font-size: 2.2rem;
        font-weight: v.$bold;
        margin-bottom: 1rem;
    }
    &__select {
        width: 100%;
        background-color: v.$blanco;
        border: .1rem solid v.$gris;
        padding: 1rem;
        border-radius: .5rem;
    }
    &__texto {
        text-align: center;
    }
}